h1,
p,
button {
    font-family: 'Staatliches', sans-serif;
}

#time,
#description {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

body {
    background-color: #9fa3ab;
}